
:root {
	--body: #eaecec;
	--text: #191919;
	--secondary: #797979;
	--card-1: transparent;
	--card-2: transparent;
	--border: rgba(0, 0, 0, 0.1);
	--now: green;
	--main: #151e5b;
}
@media (prefers-color-scheme: dark) {
	body {
		--body: black;
		--text: white;
		--secondary: gray;
		--card-1: transparent;
		--card-2: transparent;
		--border: #313131;
		--now: yellow;
		--main: #5855ff;
	}
}
body {
	margin: 0;
	font-family: Arial;
	background: var(--body);
	color: var(--text);
	/*min-height: calc(100vh - 40px);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;*/
	border-top: 5px solid var(--main);
	padding-bottom: 40px;
}

.days {
	width: calc(100% - 80px);
	margin: auto;
	margin-top: 50px;
}
.day h2 {
	width: calc(100% - 20px);
	padding: 10px;
	background: var(--card-1);
	margin: 0;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}
.day_content {
	padding: 10px;
	background: var(--card-2);
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	display: grid;
	grid-gap: 5px;
	position: relative;
}


.member_row {
	display: grid;
	grid-template-columns: 210px 1fr;
	grid-gap: 10px;
}




.member_left {
	font-size: 20px;
}
.member_right {
	display: flex;
	justify-content: center;
	align-items: center;
}
.row_head .member_right {
	display: grid;
	grid-template-columns: repeat(24, 1fr);
	font-size: 10px;
	position: relative;
}
.row_head .member_right span {
	position: relative;
}
.row_head .member_right .line {
	position: absolute;
	left: 0;
	width: 1px;
	background: var(--border);
}
.line_hori {
	position: absolute;
	width: calc(100% - 15px);
	height: 1px;
	background: var(--border);
}
.member_timeline {
	position: relative;
	z-index: 1;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
}
.member_timeline .time {
	padding: 5px 1px;
	background: var(--text);
	border-radius: 2px;
	position: absolute;
	left: 0;
}

.day_progress {
	top: 20px;
}

@media screen and (max-width: 800px) {
	.days {
		width: 100%;
	}
	.day_content {
		max-width: 100%;
		overflow-x: auto;
	}
	.member_right {
		min-width: 1200px;
	}
	.device_name {
		padding-left: 20px;
	}
}

@media (hover: hover) {
	.member_row .device_name, .member_row .time {
		transition: 150ms;
	}
	.member_row .device_name {
		color: var(--secondary);
	}
	.member_row .member_timeline .time {
		background: var(--secondary);
	}

	.member_row:hover .member_timeline .time {
		background: var(--text);
	}
	.member_row:hover .device_name {
		color: var(--text);
	}
}


div.search {
	width: 100%;
	max-width: calc(100% - 100px);
	margin: 20px auto;
}

input.search {
	padding: 10px;
	border: 1px solid var(--border);
	border-radius: 4px;
	width: calc(100% - 22px);
	background: transparent;
	color: var(--text);
	-webkit-appearance: none;
	font-size: 1rem;
}

.hidden {
	display: none;
}

.row_head .member_right .line.now {
	background: var(--now);
}